---
- name: Download ssh keys
  ansible.builtin.get_url:
    url: "https://github.com/bluefishforsale.keys"
    dest: "/root/ssh.keys"
    mode: '0600'
    owner: root
    group: root

- name: Check VM id status
  command: "qm status {{ item }}"
  register: vm_status
  with_items: "{{ vm_ids }}"
  ignore_errors: true
  changed_when: false

- name: Clone template instance if not created
  command: qm clone 9999 {{ item }} --full --storage {{ vm_storage | default('vmpool-storage') }}
  when: >
    item not in vm_status.results | map(attribute='item') | list or (vm_status.results | selectattr('item', 'equalto', item) | map(attribute='stdout') | list | first is not search('running|stopped'))
  loop: "{{ vm_ids }}"

- name: Set common VM configuration settings
  shell: |
    qm set {{ item }} --name kube{{ item }} --ipconfig0 ip=$(host kube{{ item }}.home | awk '{print $NF}')/24,gw=192.168.1.1 --nameserver=192.168.1.2 --onboot 1
    qm set {{ item }} --sshkeys /root/ssh.keys
    qm resize {{ item }} scsi0 +8G
  when: >
    item not in vm_status.results | map(attribute='item') | list or (vm_status.results | selectattr('item', 'equalto', item) | map(attribute='stdout') | list | first is not search('running'))
  loop: "{{ vm_ids }}"

- name: Set Control plane options
  shell: |
    qm set {{ item }} --cores 4
    qm set {{ item }}  --memory 8192
  when: >
    item is match('.*50.*') and (item not in vm_status.results | map(attribute='item') | list or  (vm_status.results | selectattr('item', 'equalto', item) | map(attribute='stdout') | list | first is not search('running')))
  loop: "{{ vm_ids }}"

- name: Set worker options
  shell: |
    qm set {{ item }} --cores 16
    qm set {{ item }} --memory 16384
  when: >
    item is match('.*51.*') and (item not in vm_status.results | map(attribute='item') | list or  (vm_status.results | selectattr('item', 'equalto', item) | map(attribute='stdout') | list | first is not search('running')))
  loop: "{{ vm_ids }}"

- name: Set GPU options
  shell: "qm set {{ item }} --hostpci0=42:00,pcie=1"
  when: >
    (item not in vm_status.results | map(attribute='item') | list or (vm_status.results | selectattr('item', 'equalto', item) | map(attribute='stdout') | list | first is not search('running'))) and (hostvars[inventory_hostname].enable_gpu | default(false))
  loop: "{{ vm_ids }}"

- name: Start all VMs
  command: "qm start {{ item }}"
  with_items: "{{ vm_ids }}"
  register: vm_start
  failed_when: vm_start.rc != 0 and 'already running' not in vm_start.stderr
  changed_when: vm_start.rc == 0

- name: Wait for VMs to become accessible via SSH
  wait_for:
    host: "kube{{ item }}"
    port: 22
    state: started
    timeout: 300
    delay: 10
  loop: "{{ vm_ids }}"
