apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - name: kube-vip
    image: {{ kube_vip_image }}
    imagePullPolicy: IfNotPresent
    args:
    - manager
    env:
    - name: vip_arp
      value: "true"
    - name: port
      value: "6443"
    - name: vip_interface
      value: "{{ kube_vip_interface }}"
    - name: vip_cidr
      value: "32"
    - name: cp_enable
      value: "true"
    - name: cp_namespace
      value: kube-system
    - name: svc_enable
      value: "false"
    - name: vip_leaderelection
      value: "false"
    - name: vip_startleader
      value: "true"
    - name: address
      value: "{{ vip }}"
    - name: enableServicesElection
      value: "false"
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
  hostNetwork: true
  priorityClassName: system-node-critical
  tolerations:
  - effect: NoSchedule
    operator: Exists
  - effect: NoExecute
    operator: Exists
