---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Apply etcd optimizations
  include_tasks: etcd_optimize.yml

- name: Install specific version of Kubernetes components
  apt:
    name:
      - "kubelet={{ kubernetes_version }}"
      - "kubeadm={{ kubernetes_version }}"
      - "kubectl={{ kubernetes_version }}"
    state: present
  when: not ansible_check_mode

- name: Hold Kubernetes packages at the specified version
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop:
    - kubelet
    - kubeadm
    - kubectl
  when: not ansible_check_mode
