---
- name: Gather facts from all k8s_controller hosts
  setup:
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups['k8s_controller'] }}"
  run_once: true

- name: Create /etc/kubernetes
  file:
    state: directory
    path: /etc/kubernetes
    owner: root
    group: root
    mode: '0755'
  when: not ansible_check_mode

- name: Copy kubeadm configuration template
  template:
    src: kubeadm-config.yaml.j2
    dest: /etc/kubernetes/kubeadm-config.yaml
    owner: root
    group: root
    mode: '0644'
  when: not ansible_check_mode

- name: Check if kubeadm has already been run
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_init_check
  when: not ansible_check_mode

- name: Kubeadm init master from config file
  shell: |
    kubeadm init \
      --config /etc/kubernetes/kubeadm-config.yaml \
      --ignore-preflight-errors=Port-6443 \
      --upload-certs \
      --v=5
  register: kubeadm_output
  when: not ansible_check_mode and not kubeadm_init_check.stat.exists

- name: Wait before looking for health
  pause:
    seconds: 45
  when: kubeadm_output.changed | default(false)

- name: Print waiting message
  debug:
    msg: "waiting up to 300 sec for apiserver to return 200 OK"

- name: Copy admin.conf from the master node to the local machine
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ lookup('env', 'HOME') }}/.kube/config"
    flat: yes

- name: Wait for Kubernetes API server to become healthy
  command: >
    curl -sI --cert /etc/kubernetes/pki/apiserver-kubelet-client.crt
         --key /etc/kubernetes/pki/apiserver-kubelet-client.key
         --cacert /etc/kubernetes/pki/ca.crt
         https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:6443/healthz
  register: health_check
  retries: 100
  delay: 1
  until: health_check.stdout is search("HTTP/2 200")
  no_log: true
  changed_when: false
