---
- name: Install keepalived
  apt:
    name: keepalived
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: Enable non-local IP binding for VIP
  ansible.posix.sysctl:
    name: net.ipv4.ip_nonlocal_bind
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes

- name: Configure keepalived
  template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart keepalived

- name: Enable and start keepalived
  systemd:
    name: keepalived
    enabled: yes
    state: started
