# /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log stdout format raw local0
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          35s
    timeout server          35s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# apiserver frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend apiserver
    bind {{ vip }}:6443 transparent
    mode tcp
    option tcplog
    default_backend apiserver-backend
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

#---------------------------------------------------------------------
# round robin balancing for apiserver
#---------------------------------------------------------------------
backend apiserver-backend
    option httpchk

    http-check connect ssl
    http-check send meth GET uri /healthz
    http-check expect status 200
    
    mode tcp
    balance roundrobin
    {% for host in groups['k8s_controller'] %}
    server {{ host }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:6443 check inter 500ms fall 50 rise 1 verify none
    {% endfor %}
