---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ kubernetes_version | regex_replace('^([0-9]+\\.[0-9]+\\.[0-9]+).*', '\\1') }}"
controlPlaneEndpoint: "{{ vip }}:6443"
networking:
  serviceSubnet: "{{ pod_services_cidr }}"
  podSubnet: "{{ pod_network_cidr }}"
etcd:
  LocalEtcd:
    args:
    - name: log-level
      value: debug
apiServer:
  extraArgs:
    - name: authorization-mode
      value: Node,RBAC
    - name: advertise-address
      value: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"  # Node-specific IP
    - name: bind-address
      value: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"  # Bind to the specific IP
  certSANs:
    - "localhost"
    - "127.0.0.1"
    - "{{ vip }}"
{% for host in groups['k8s_controller'] %}
    - "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endfor %}
{% for domain in domain_suffixes %}
{% for host in groups['k8s_controller'] %}
    - "{{ hostvars[host]['inventory_hostname'] }}{{ domain }}"
{% endfor %}
    - "kubernetes{{ domain }}"
    - "apiserver{{ domain }}"
{% endfor %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
ipvs:
  strictARP: true

