[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[ dn ]
CN = metrics-server

[ ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = metrics-server
DNS.2 = metrics-server.{{ metrics_server_namespace }}
DNS.3 = metrics-server.{{ metrics_server_namespace }}.svc
IP.1 = 127.0.0.1
{% for host in groups['k8s'] %}
DNS.{{ loop.index + 4 }} = {{ host }}
{% endfor %}

[ v3_ca ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth