---
- name: Ensure /etc/kubernetes/manifests exists
  file:
    path: /etc/kubernetes/manifests
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy kube-vip static pod manifest
  template:
    src: kube-vip.yaml.j2
    dest: /etc/kubernetes/manifests/kube-vip.yaml
    owner: root
    group: root
    mode: '0644'
